/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1acc8d;
    border-top-color: #d2f9eb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* MAIN SETTINGS */

::-webkit-scrollbar {
    display: none !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#main {
    height: 70vh;
    display: flex;
    align-items: center;
}

.arrow-scroll-down {
    justify-content: center;
    display: flex;
    position: relative;
}

.arrow-scroll-down img {
    position: absolute;
    top: -120px;
    transition: 200ms ease;
}

.arrow-scroll-down img:hover {
    transform: scale(1.05) translateY(5px);
    cursor: pointer;
}

.header-text h2 {
    font-size: 56px;
    font-weight: 700;
    color: #0d144A;
}

.header-img img {
    width: 100%;
}


/* NAVBAR */

.navbar-brand {
    font-size: 20px !important;
    font-weight: 700;
    color: #0D144A !important;
    transition: 200ms ease;
    -moz-transition: 200ms ease;
    -webkit-transtion: 200ms ease;
    -o-transtion: 200ms ease;
}

.navbar-brand:hover {
    transform: scale(0.95);
}

.nav-contact p {
    float: left;
    font-weight: 600;
    font-size: 18px;
}

.call-button {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: linear-gradient(250.59deg, #438CF2 -9.54%, #4CE9B1 72.09%);
    padding: 8px 30px 8px 25px;
    border: 0 !important;
    border-radius: 5px;
    float: left;
    display: flex;
    align-items: center;
}

.call-button img {
    margin-right: 10px;
}

.write-button {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #4ce9b1;
    padding: 8px 30px 8px 30px;
    border: 0;
    border-radius: 5px;
    float: left;
    background-color: white;
    display: flex;
    align-items: center;
}

.write-button img {
    margin-right: 10px;
}

.call-button,
.write-button {
    display: flex;
    transition: 200ms ease;
    -moz-transition: 200ms ease;
    -webkit-transtion: 200ms ease;
    -o-transtion: 200ms ease;
}

.call-mobile-button,
.write-mobile-button {
    display: none !important;
}

.call-mobile-button {
    background: linear-gradient(250.59deg, #438CF2 -9.54%, #4CE9B1 72.09%);
    border: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.call-button:focus,
.call-button:active,
.write-button:focus,
.write-button:active {
    outline: none;
}

.call-button:hover {
    transform: scale(0.95);
    -webkit-box-shadow: 0px 0px 18px 5px rgba(51, 255, 199, 0.47);
    box-shadow: 0px 0px 18px 5px rgba(51, 255, 199, 0.47);
}

.write-button:hover {
    transform: scale(0.95);
    -webkit-box-shadow: 0px 0px 18px 5px rgba(51, 255, 199, 0.47);
    box-shadow: 0px 0px 18px 5px rgba(51, 255, 199, 0.47);
}


/* BAR */

#desktop-bar {
    display: inline;
    width: 100%;
}

#mobile-bar {
    display: none;
    width: 60%;
}


/* ABOUT US */

#about-us h2 {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: #0D144A;
    padding-bottom: 20px;
}

#mobile-carousel {
    display: none;
}

#about-us {
    display: inline;
}

.about-us-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-img img {
    display: flex;
    align-items: center;
    width: 80%;
}

.card-box h3 {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #0D144A;
}

.card-box p {
    font-size: 18px;
    color: #777777;
}

.icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #438cf221;
}

.icon-box img {
    position: absolute;
    top: 10px;
}

.carousel .carousel-indicators {
    bottom: -40px;
}

.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white !important;
    border: 2px solid #0D144A;
}


/* CONTACT SECTION */

#contact {
    margin-top: 100px;
    background-color: #0D144A;
    padding-bottom: 100px;
}

#contact h2 {
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 48px;
    color: white;
    font-weight: 700;
}

#contact p2 {
    font-size: 24px;
    color: white;
    font-weight: 400;
}

#contact_form label {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

#contact_form .formField {
    width: 25%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#contact_form .checkbox-icon {
    width: 22px;
    height: 22px;
}

.check-box {
    padding-left: 20px;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.vertical-check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formField {
    outline: 0 !important;
    border: 0 !important;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transtion: 500ms ease;
    -o-transtion: 500ms ease;
}

.formField:focus {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(125, 225, 255, 0.52);
    box-shadow: 0px 0px 9px 0px rgba(111, 243, 255, 0.52);
}

.form-button {
    margin-top: 30px;
    background: linear-gradient(250.59deg, #438CF2 -9.54%, #4CE9B1 72.09%);
    font-size: 20px !important;
    color: white !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    width: 25%;
    transition: 500ms ease !important;
}

.form-button:hover {
    transform: scale(1.05);
}

.personal-data {
    color: #4eff839d;
    font-weight: 400;
    text-decoration: none;
    transition: 500ms ease;
}

.personal-data:hover {
    color: #4eff83;
}


/* FOOTER SECTION */

#footer {
    background-color: #01083E;
    text-align: center;
}

#footer p {
    font-size: 18px;
    color: white;
    opacity: 0.8;
    font-weight: 400;
    margin-bottom: 0;
}


/* MEDIA MAX WIDTH SECTION */

@media (max-width: 1100px) {
    #contact_form .formField {
        width: 60%;
    }
    .form-button {
        width: 60%;
    }
    #main {
        background-size: 80%;
        height: 45vh;
    }
    #desktop-bar {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #contact h2 {
        font-size: 36px;
    }
    #contact p2 {
        font-size: 20px;
    }
    #contact_form .formField {
        width: 60%;
    }
    .form-button {
        width: 60%;
    }
    #main {
        background-size: 90%;
        height: 50vh;
    }
    .right-arrow {
        display: none;
    }
    .header-img img {
        width: 80%;
        margin-left: 50px;
    }
    .header-text h2 {
        font-size: 42px;
        margin-left: 10px;
    }
    .header-text br {
        display: none;
    }
    #desktop-bar {
        display: none;
    }
    #mobile-bar {
        display: inline;
    }
}

@media (max-width: 767px) {
    #mobile-carousel {
        display: inline;
    }
    #about-us {
        display: none;
    }
}

@media (max-width: 992px) {
    .nav-contact p {
        display: none;
    }
    #main h2 {
        font-size: 38px;
    }
}

@media (max-width: 578px) {
    #contact h2 {
        font-size: 28px;
    }
    #contact p2 {
        font-size: 18px;
    }
    #contact_form .formField {
        width: 80%;
    }
    .check-box {
        font-size: 14px;
    }
    .form-button {
        width: 80%;
    }
    #mobile-bar {
        width: 80%;
    }
    #main {
        background-size: 100%;
        height: 50vh;
    }
    .arrow-scroll-down img {
        top: -30px;
        width: 22px;
    }
    .arrow-scroll-down {
        padding-bottom: 30px;
    }
    #about-us h2 {
        font-size: 36px;
    }
    .call-button,
    .write-button {
        display: none;
    }
    .call-mobile-button,
    .write-mobile-button {
        display: flex !important;
    }
    #main {
        padding-top: 20vh;
        margin-bottom: 150px;
    }
    .header-text h2 {
        font-size: 32px;
        margin-left: 0;
    }
    .header-img img {
        margin-top: 30px;
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .navbar-brand {
        font-size: 16px !important;
    }
}


/* ANIMATIONS */

.fade-out {
    -webkit-animation: fade-out 500ms ease-out both;
    animation: fade-out 500ms ease-out both;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}